/*==========================
SERVICES
===========================*/

.services{

padding:140px 0;

background: linear-gradient(
    135deg,
    #ffffff 0%,
    #fbfdff 20%,
    #f4faff 45%,
    #eaf5ff 70%,
    #d9ecff 100%
);
}

.section-heading{

text-align:center;

margin-bottom:90px;

}

.section-heading span{

color:#990011;

font-weight:700;

letter-spacing:2px;

}

.section-heading h2{

font-size:54px;

font-family:Poppins;

margin:20px 0;

}

.section-heading p{

max-width:700px;

margin:auto;

font-size:18px;

line-height:1.9;

color:#666;

}

.service-banner{

height:600px;

margin-bottom:70px;

position:relative;

overflow:hidden;

}

.service-banner img{

width:100%;

height:100%;

object-fit:cover;

transition:2s;

}

.service-banner:hover img{

transform:scale(1.12);

}

.service-overlay{

position:absolute;

top:0;

left:0;

width:100%;

height:100%;

padding:100px;

display:flex;

flex-direction:column;

justify-content:flex-end;

background:linear-gradient(
90deg,
rgba(0,0,0,.82),
rgba(0,0,0,.25),
transparent);

}

.reverse .service-overlay{

align-items:flex-end;

text-align:right;

background:linear-gradient(
270deg,
rgba(0,0,0,.82),
rgba(0,0,0,.25),
transparent);

}

.service-overlay span{

font-size:90px;

font-weight:800;

color:rgba(255,255,255,.25);

font-family:Poppins;

}

.service-overlay h2{

font-size:58px;

color:white;

margin:20px 0;

font-family:Poppins;

}

.service-overlay p{

font-size:20px;

line-height:1.8;

color:white;

max-width:550px;

margin-bottom:35px;

}

/*==========================
SERVICE BUTTON
===========================*/

.service-btn{

    display:inline-flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    width:190px;
    height:56px;

    padding:0 24px;

    background:#fff;
    color:#990011;

    border-radius:50px;

    font-size:17px;
    font-weight:700;

    text-decoration:none;

    transition:.35s;

    white-space:nowrap;
}

.service-btn span{
    display:inline-block;
}

.service-btn i{
    font-size:16px;
    transition:.3s;
}

.service-btn:hover i{
    transform:translateX(6px);
}

.service-btn i{

    font-size:18px;
    transition:.35s;

}

.service-btn:hover{

    background:#990011;
    color:#ffffff;

    transform:translateY(-4px);

}

.service-btn:hover i{

    transform:translateX(6px);

}



