/*==================================
WHY US
==================================*/

.why-us{

    position:relative;

    overflow:hidden;

    background:#fff;

    padding:180px 0;

}

.bg-circle{

    position:absolute;

    border-radius:50%;

    filter:blur(120px);

    opacity:.25;

}

.bg-circle.one{

    width:450px;

    height:450px;

    background:#e50815;

    left:-120px;

    top:60px;

}

.bg-circle.two{

    width:350px;

    height:350px;

    background:#990011;

    right:-100px;

    bottom:-50px;

}

.why-title{

    font-size:56px;

    text-align:center;

    margin:25px 0;

    font-family:Poppins;

}

.why-desc{

    text-align:center;

    color:#666;

    font-size:18px;

    max-width:700px;

    margin:auto auto 90px;

    line-height:1.8;

}

.why-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:45px;

}

.why-card{

    position:relative;

    background:white;

    padding:60px;

    border-radius:30px;

    overflow:hidden;

    box-shadow:0 20px 60px rgba(0,0,0,.08);

    transition:.6s;

}

.why-card::before{

    content:"";

    position:absolute;

    width:0;

    height:100%;

    left:0;

    top:0;

    background:#990011;

    transition:.5s;

    z-index:0;

}

.why-card:hover::before{

    width:100%;

}

.why-card>*{

    position:relative;

    z-index:2;

}

.why-card:hover{

    transform:translateY(-18px);

}

.icon{

    width:90px;

    height:90px;

    border-radius:50%;

    display:flex;

    align-items:center;

    justify-content:center;

    background:#FCF6F5;

    margin-bottom:35px;

    transition:.5s;

}

.icon i{

    font-size:38px;

    color:#990011;

    transition:.5s;

}

.why-card h3{

    font-size:30px;

    margin-bottom:20px;

}

.why-card p{

    color:#666;

    line-height:1.8;

}

.why-card:hover h3,

.why-card:hover p,

.why-card:hover i{

    color:white;

}

.why-card:hover .icon{

    background:rgba(255,255,255,.15);

    transform:rotate(360deg) scale(1.15);

}

.why-card{

    opacity:0;

    transform:translateY(120px);

}

.why-card.show{

    opacity:1;

    transform:translateY(0);

    transition:1s;

}

.why-card:nth-child(2){
    transition-delay:.2s;
}

.why-card:nth-child(3){
    transition-delay:.4s;
}

.why-card:nth-child(4){
    transition-delay:.6s;
}